#Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

#Pytest cache
.cache/
.pytest_cache/

#Jupyter Notebook checkpoints - ESTO AÑADI PARA INTELIGENCIA ARTIFICIAL Y DATOS A FUTURO
.ipynb_checkpoints

#Environment folders
.env
.venv
env/
venv/
ENV/

#VSCode settings
.vscode/

#macOS - Para todo SO por eso añadi
.DS_Store
